<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Push-up counter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tektur&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  </head>
  <body>
    <nav>
      <a href="/account">Account</a>
    </nav>
    <main>
    <h1>Push-up counter</h1>
    <div class="stack">
      <div class="item">
        <div>
          <canvas id="chart" />
        </div>
      </div>
      <div class="tab tab-1">
        <input type="radio" id="1" name="tabs" value="1" checked />
        <label for="1">Chart</label>
      </div>
      <div class="item">
        <h2>Submission form</h2>
        <form class="submission" hx-post="/log" hx-swap="outerHTML">
          <select name="activity" id="activity" hx-get="/activity" hx-target="#activity-form" hx-trigger="change" hx-swap="innerHTML">
            <option value="push-up">
              Push-up
            </option>
            <option value="plank">
              Plank
            </option>
          </select>
          <div class="row" id="activity-form">
            <div class="widget">
              <label for="rep">Repetitions</label>
              <input
                type="text"
                inputmode="numeric"
                pattern="[0-9]+"
                name="repetitions"
                id="rep"
                min="0"
                value="1"
              />
            </div>
            <div class="widget">
              <label for="set">Sets</label>
              <input
                type="text"
                inputmode="numeric"
                pattern="[0-9]+"
                name="sets"
                id="set"
                min="0"
                value="1"
              />
            </div>
          </div>
          <button type="submit">Submit session</button>
        </form>
      </div>
      <div class="tab tab-2">
        <input type="radio" id="2" name="tabs" value="2" />
        <label for="2">Record</label>
      </div>
      <div class="item">
        <h3>Previous sessions</h3>
        <ul id="sessions"></ul>
      </div>
      <div class="tab tab-3">
        <input type="radio" id="3" name="tabs" value="3" />
        <label for="3">Log</label>
      </div>
    </div>
    </main>
    <script type="module">
      import "./script.js";
    </script>
  </body>
</html>
